
<br />

<style>
.mud-grid-spacing-xs-3 {
    margin: 0px !important;
}

</style>
<div style="min-height:400px; background-color: #95959521;
            display: flex; justify-content: center;align-items: flex-start;"
     id="FooterPoligon">
    <MudGrid Style="padding-top:370px;text-align:center; width:70%;">
       
        <MudItem xs="12" md="3" Style="padding-right:60px;">
            <div style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
                <MudAvatar Image="/images/BrandBlazor.png" Style="background-color: transparent;height:90px; width:90px; font-size:2rem;" />
                <MudElement HtmlTag="a"
                            Style="color:#5c2d91;font-weight:bold; font-size:1rem;;"
                            href="https://github.com/dotnet/aspnetcore/tree/main/src/Components?WT.mc_id=dotnet-35129-website"
                            target="blank"
                            rel="noopener noreferrer">
                    Realizado con Blazor
                </MudElement>
            </div>
            <div style="
            display: flex; justify-content: center;align-items: flex-start;">
                <MudText Typo="Typo.subtitle1" Style="display:inline-flex;"><MudIcon Icon="@Icons.Custom.Brands.Microsoft" />Tecnologia Microsoft</MudText>
            </div>
        </MudItem>
        
        <MudItem xs="12" md="3" Style="padding-left: 60px;">
            <div style="text-align:start;">
                <MudText Typo="Typo.h5">Contacto</MudText>
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">How it started</MudLink><br />
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">Releases</MudLink><br />
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">Sponsors & Backers</MudLink>
            </div>
        </MudItem>
        
        <MudItem xs="12" md="3" Style="padding-left: 60px;">
            <div style="text-align:start;">
                <MudText Typo="Typo.h5">Contacto</MudText>
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">How it started</MudLink><br />
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">Releases</MudLink><br />
                <MudLink Typo="Typo.subtitle2" Href="http://google.com" Underline="Underline.None">Sponsors & Backers</MudLink>
            </div>
        </MudItem>
        
        <MudItem xs="12" md="3">
            <div style="text-align:start;">
                <MudText Typo="Typo.h5">Contacto</MudText>
                <MudText>_Telefono: +54-11-7363-9045</MudText>
                <MudText>_WhatsApp: +54-11-7363-9045</MudText>
                <MudText>_E-Mail: cristian.sguazzin@gmail.com</MudText>
            </div>
        </MudItem>
        
        <MudItem xs="12">
            <MudText Typo="Typo.subtitle1">Desarrollado por Lic. Sguazzin Cristian M.</MudText>
        </MudItem>
    </MudGrid>
</div>



@code {

}
