.portada {
    background-image: url('/images/BGF.jpg');
    background-size: cover;
}
.photo {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.avatar {
    background-image: url('/images/avatar.jpg');
    background-size: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 20px 2px black;
    -moz-box-shadow: 0px 2px 20px 2px black;
    box-shadow: 0px 2px 20px 2px black;
    margin-bottom: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.orangeline {
    width: 170px;
    border-top: 1px solid orange;
    margin-bottom: 10px;
}

article {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    /*padding-top: 15%;*/
    height: inherit; /*-webkit-fill-available;*/
    bottom: 100px;
    width: 100%;
}

#iconPortada {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
