<div id="Ordenador">
    <MudText Typo="Typo.h4" Style="margin-top:100px;">¿En qué me especializo?</MudText>
    <br />


    <MudGrid Spacing="2" Style="background-color: white; text-align:center; width:70%; display: flex; flex-wrap: wrap; justify-content: center !important;">

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/netframe.png" alt="Imagen .Net Framework" title=".NET Framework" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/aspnet.png" alt="Imagen logo ASP.NET" title="ASP.NET" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/BrandBlazor.png" alt="Imagen logo Blazor" title="Blazor" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/csharp.jpg" alt="Imagen logo C#" title="C#(C.Sharp)" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/mudblazor.png" alt="Imagen logo MudBlazor" title="MudBlazor" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/angular.png" alt="Imagen logo Angular" title="Angular" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/sqlserver.jpg" alt="Imagen logo SQL Server" title="SQL Server" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/javascript.png" alt="Imagen logo JavaScript" title="JavaScript" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/typescript.png" alt="Imagen logo Typescript" title="Typescript" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/html.png" alt="Imagen logo HTML5" title="HTML5" />
            </MudPaper>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudPaper Elevation="0">
                <img src="/images/css.png" alt="Imagen logo CSS" title="CSS" />
            </MudPaper>
        </MudItem>

    </MudGrid>
</div>

