/* /Pages/Pages/Footer.razor.rz.scp.css */



#FooterPoligon[b-wk3udroadi] {
    clip-path: polygon(100% 100%, 0% 100%, 0% 10%, 10% 20%, 20% 0%, 50% 40%,100% 0%)
}
/* /Pages/Pages/Portada.razor.rz.scp.css */
.portada[b-vlzdo3868b] {
    background-image: url('/images/BGF.jpg');
    background-size: cover;
}
.photo[b-vlzdo3868b] {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.avatar[b-vlzdo3868b] {
    background-image: url('/images/avatar.jpg');
    background-size: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 20px 2px black;
    -moz-box-shadow: 0px 2px 20px 2px black;
    box-shadow: 0px 2px 20px 2px black;
    margin-bottom: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.orangeline[b-vlzdo3868b] {
    width: 170px;
    border-top: 1px solid orange;
    margin-bottom: 10px;
}

article[b-vlzdo3868b] {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    /*padding-top: 15%;*/
    height: inherit; /*-webkit-fill-available;*/
    bottom: 100px;
    width: 100%;
}

#iconPortada[b-vlzdo3868b] {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
/* /Pages/Pages/Servicios.razor.rz.scp.css */
img[b-yc2x97riqd] {
    height: 100px;
    filter: grayscale(100%);
}
    img:hover[b-yc2x97riqd] {
        filter: grayscale(0%);
    }

#Ordenador[b-yc2x97riqd] {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
}



/*.blocktech2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}


.pro1h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.pro1f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pro11,
.pro12,
.pro13,
.pro14,
.pro15,
.pro16,
.pro17,
.pro18,
.pro19,
.pro20,
.pro21,
.pro22,
.pro23,
.pro24,
.pro25 {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.pro11 {
    background-image: url(images/html.png);
    background-size: 140px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro12 {
    background-image: url(images/css.png);
    background-size: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro13 {
    background-image: url(images/javascript.png);
    background-size: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro14 {
    background-image: url(images/jquery.jpg);
    background-size: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro15 {
    background-image: url(images/fundationzurb.PNG);
    background-size: 160px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro16 {
    background-image: url(images/Bootstrap-Logo.png);
    background-size: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro17 {
    background-image: url(images/ruby.jpg);
    background-size: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro18 {
    background-image: url(images/python.jpg);
    background-size: 110px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro19 {
    background-image: url(images/csharp.jpg);
    background-size: 110px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro20 {
    background-image: url(images/netframe.png);
    background-size: 110px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro21 {
    background-image: url(images/sass.png);
    background-size: 110px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro22 {
    background-image: url(images/java-logo.png);
    background-size: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

    .pro11:hover, .pro12:hover, .pro13:hover, .pro14:hover, .pro15:hover, .pro16:hover, .pro17:hover, .pro18:hover, .pro19:hover, .pro20:hover, .pro21:hover, .pro22:hover, .pro23:hover, .pro24:hover, .pro25:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

.pro23 {
    background-image: url(images/WordPress.png);
    background-size: 140px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro24 {
    background-image: url(images/sqlserver.jpg);
    background-size: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pro25 {
    background-image: url(images/php.jpg);
    background-size: 130px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}*/
/* /Pages/Personal/Dashboard.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/ParallaxCreate.razor.rz.scp.css */
.photo[b-l4yal4xc8a] {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.create[b-l4yal4xc8a] {
    background-image: url('/images/create.jpg');
    height: 200px;
}
