.photo[b-l4yal4xc8a] {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.create[b-l4yal4xc8a] {
    background-image: url('/images/create.jpg');
    height: 200px;
}
